---
http_interactions:
- request:
    method: head
    uri: http://fqdn.domain:1000/index_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 31 Oct 2015 06:57:38 GMT
- request:
    method: put
    uri: http://fqdn.domain:1000/index_name
    body:
      encoding: UTF-8
      string: '{"number_of_shards":"7","number_of_replicas":"7"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"acknowledged":true}'
  recorded_at: Sat, 31 Oct 2015 06:57:38 GMT
- request:
    method: get
    uri: http://fqdn.domain:1000/index_name/_settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"create_test":{"settings":{"index":{"creation_date":"1446274658166","number_of_shards":"7","number_of_replicas":"7","version":{"created":"1070199"},"uuid":"cFHNgQauSSG7e3E_NBQyCg"}}}}'
  recorded_at: Sat, 31 Oct 2015 06:57:38 GMT
recorded_with: VCR 2.9.3
