---
http_interactions:
- request:
    method: get
    uri: http://fqdn.domain:1000/index_name/_settings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"index_name":{"settings":{"index":{"creation_date":"1446244121777","number_of_shards":"5","number_of_replicas":"1","version":{"created":"1070199"},"uuid":"iOcMNTRiQNu8MeRBvRh4Yw"}}}}'
  recorded_at: Sat, 31 Oct 2015 05:37:08 GMT
recorded_with: VCR 2.9.3
